.myclass , .myclass2
{
    font-size: 20pt;
    color: blue;
    background-color: black;
    /*we use this comment in style*/
}
#myclass1
{
    font-size: 80pt;
    color: green;
}
body {background-color: beige;}
p.xy {text-align: center;background-color: brown;font-size: 30;}
a:hover {color: aqua;}
